:root {
  --primary-text-color:#757575;
  --title-text-color:#212121;
  --accent-color: #2196F3;
  --primary-background-color: #FFFFFF;
  --second-background-color: #F5F4FA;
  --footer-backgroud-color: #2F303A;
  --black-color: #000000;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

header {
  border-bottom: 1px solid #ECECEC;
}

p, h1, h2, h3, h4, h6 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.btn {
  border: none;
  text-align: center;
  cursor: pointer;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.modal-btn {
  position: absolute;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:focus, .modal-btn:hover {
  fill: var(--accent-color);
}

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  background-color: var(--primary-background-color);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}

@media screen and (max-width: 1199px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-head {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 12px;
}

@media screen and (max-width: 767px) {
  .modal-form-head {
    line-height: 1.5;
  }
}

@media screen and (min-width: 768px) {
  .modal-form-head {
    line-height: 1.5;
  }
}

@media screen and (min-width: 1200px) {
  .modal-form-head {
    line-height: 1.15;
  }
}

.modal-form-field {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}

.modal-form-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-icon {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-field.message {
  margin-bottom: 20px;
}

.modal-form-message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  padding: 16px 12px;
  margin-top: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-checkbox-label {
  display: flex;
  font-family: inherit;
  color: var(--primary-text-color);
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .modal-form-checkbox-label {
    font-size: 11px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 768px) {
  .modal-form-checkbox-label {
    font-size: 11px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 1200px) {
  .modal-form-checkbox-label {
    text-align: center;
    justify-content: center;
    font-size: 14px;
    line-height: 1.7;
  }
}

.modal-form-checkbox-label::before {
  display: block;
  justify-content: baseline;
  content: "";
  width: 16px;
  height: 15px;
  margin: auto 7px auto 0;
  border: 1px solid var(--title-text-color);
  border-radius: 2px;
  cursor: pointer;
}

.modal-form-checkbox:checked +
.modal-form-checkbox-label::before {
  border: 1px solid var(--accent-color);
  background-color: var(--accent-color);
  background-image: url(../images/check.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.modal-form-checkbox:focus +
.modal-form-checkbox-label::before {
  outline: 1px solid var(--accent-color);
}

.modal-form-button {
  display: inline-block;
  border: none;
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-background-color);
  padding: 10px 55px;
  margin: 0 auto;
}

.modal-form-terms {
  color: var(--accent-color);
}

.main-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-nav {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .logo {
    font-size: 24px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 768px) {
  .logo {
    font-size: 24px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.main-menu .higher {
  display: block;
}

@media screen and (max-width: 767px) {
  .main-menu .higher {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .main-menu .higher {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .main-menu .higher {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.logo-first {
  color: var(--black-color);
}

.logo-second {
  color: var(--primary-background-color);
}

@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
    margin-left: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav {
    display: flex;
    margin-left: 93px;
  }
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus,
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .site-nav-current {
  color: var(--accent-color);
}

.site-nav-current::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
}

@media screen and (max-width: 767px) {
  .auth-nav {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .auth-nav {
    display: block;
    margin-right: 0;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav {
    display: flex;
    margin-right: 0;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .auth-nav .mail + .phone {
    margin-top: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav .mail + .phone {
    margin-left: 50px;
  }
}

.auth-nav .link {
  display: block;
  font-family: inherit;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .auth-nav .link {
    font-size: 12px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav .link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .auth-nav .mail .link {
    padding-top: 21px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .auth-nav .phone .link {
    padding-bottom: 21px;
  }
}

.mail-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
  vertical-align: bottom;
}

.phone-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
  vertical-align: top;
}

.burger-btn {
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  line-height: 0;
  border: none;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
}

.burger-icon {
  width: 40px;
  height: 40px;
}

.burger-btn:hover .burger-icon,
.burger-btn:focus .burger-icon {
  fill: var(--accent-color);
}

.mobile-menu {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100vw;
  padding: 48px 40px;
  background-color: var(--primary-background-color);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  line-height: 0;
  border: none;
}

.close-btn-icon {
  width: 40px;
  height: 40px;
}

.mobile-menu-nav .link {
  font-family: inherit;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.88;
  color: var(--title-text-color);
}

@media screen and (max-width: 479px) {
  .mobile-menu-nav .link {
    font-size: 8vw;
  }
}

.mobile-menu-nav .link:hover,
.mobile-menu-nav .link:focus {
  color: var(--accent-color);
}

.mobile-menu-nav .item {
  display: block;
  height: 48px;
}

.mobile-menu-nav .item + .item {
  margin-top: 32px;
}

.mobile-menu-auth-nav {
  display: block;
  margin-top: auto;
}

.mobile-menu-auth-nav .phone .link {
  display: block;
  font-family: inherit;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

@media screen and (max-width: 479px) {
  .mobile-menu-auth-nav .phone .link {
    font-size: 7vw;
  }
}

.mobile-menu-auth-nav .mail .link {
  display: block;
  font-family: inherit;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

@media screen and (max-width: 479px) {
  .mobile-menu-auth-nav .mail .link {
    font-size: 5vw;
  }
}

.mobile-menu-auth-nav .item + .item {
  margin-top: 32px;
}

.mobile-menu-contacts {
  display: flex;
  margin-top: 64px;
}

.mobile-menu-contacts .item {
  display: flex;
}

.delimiter {
  display: block;
  color: rgba(33, 33, 33, 0.2);
  padding: 0;
  margin: 0 10px;
}

.mobile-menu-contacts .link {
  display: block;
  font-family: inherit;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

@media screen and (max-width: 479px) {
  .mobile-menu-contacts .link {
    font-size: 3vw;
  }
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid black;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-min.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--footer-backgroud-color);
  text-align: center;
  max-width: 480px;
  height: 400px;
}

@media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-min@2x.jpg");
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-tablet.jpg");
    max-width: 768px;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (max-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (max-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-tablet@2x.jpg");
  }
}

@media screen and (min-width: 769px) and (max-width: 1600px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-desktop.jpg");
    max-width: 1600px;
    height: 600px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1600px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (max-width: 1600px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (max-width: 1600px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-desktop@2x.jpg");
  }
}

.hero__title {
  color: var(--primary-background-color);
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.62;
  }
}

@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.62;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__btn {
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  min-width: 200px;
  color: var(--primary-background-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
}

.dignity {
  font-size: 14px;
  line-height: 1.71;
  padding: 94px 0;
}

@media screen and (max-width: 767px) {
  .dignity {
    padding: 60px 0;
  }
}

@media screen and (min-width: 768px) {
  .dignity {
    padding: 60px 0;
  }
}

@media screen and (max-width: 767px) {
  .digity__list {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .digity__list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .digity__list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .dignity__item {
    width: calc(100%-30px);
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .dignity__item {
    width: calc(100%/2 - 30px);
    margin-bottom: 30px;
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .dignity__item {
    width: calc(100%/4 - 30px);
    margin-right: 30px;
  }
}

@media screen and (max-width: 767px) {
  .dignity__item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .dignity__item:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .dignity__item:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) {
  .dignity__item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

.dignity__title {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .dignity__title {
    text-align: center;
  }
}

.dignity__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 120px;
  background-color: var(--second-background-color);
  margin-bottom: 30px;
}

.dignity__antenna-icon,
.dignity__clock-icon,
.dignity__diagram-icon,
.dignity__astonaut-icon {
  display: flex;
  width: 70px;
  height: 70px;
}

@media screen and (max-width: 767px) {
  .engage {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .engage {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .engage {
    display: block;
    padding-top: 0;
    padding-bottom: 94px;
  }
}

.engage__list {
  display: flex;
  flex-wrap: wrap;
}

.engage__item {
  width: 370px;
  margin-right: 30px;
  position: relative;
  display: flex;
}

.engage__item:last-child {
  margin-right: 0;
}

.engage__title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.engage__box {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: rgba(47, 48, 58, 0.8);
}

.engage__text {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin: auto;
  color: var(--primary-background-color);
}

.command {
  background-color: var(--second-background-color);
  font-size: 16px;
  line-height: 1.19;
}

@media screen and (max-width: 767px) {
  .command {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .command {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .command {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (max-width: 767px) {
  .command__list {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .command__list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .command__list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .command__item {
    width: calc(100%-30px);
    margin-bottom: 30px;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .command__item {
    width: calc(100%/2 - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .command__item {
    width: calc(100%/4 - 30px);
    margin-right: 30px;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .command__item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .command__item:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .command__item:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .command__item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

.command__title {
  color: var(--title-text-color);
  font-weight: bold;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .command__title {
    font-size: 28px;
    line-height: 1.18;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .command__title {
    font-size: 28px;
    line-height: 1.18;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .command__title {
    font-size: 36px;
    line-height: 1.67;
    margin-bottom: 50px;
  }
}

.command__data {
  padding: 30px 32px;
  background-color: var(--primary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.command__title-item {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.command__pre-title {
  margin-bottom: 16px;
}

.command__social {
  display: flex;
  justify-content: center;
}

.command__social-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.command__social-item:last-child {
  margin-right: 0;
}

.command__social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.command__social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--primary-background-color);
  color: #AFB1B8;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.command__social-link:hover, .command__social-link:focus {
  background-color: var(--accent-color);
  color: var(--primary-background-color);
}

@media screen and (max-width: 767px) {
  .client {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .client {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .client {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.client__title {
  color: var(--title-text-color);
  font-weight: bold;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .client__title {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.18;
  }
}

@media screen and (min-width: 768px) {
  .client__title {
    margin-bottom: 30px;
    font-size: 36px;
    line-height: 1.18;
  }
}

@media screen and (min-width: 1200px) {
  .client__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}

@media screen and (max-width: 767px) {
  .client__list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .client__list {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .client__list {
    display: flex;
    justify-content: center;
  }
}

.client__item {
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  height: 92px;
}

@media screen and (max-width: 767px) {
  .client__item {
    width: calc((100%  - 30px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .client__item {
    width: calc((100%  - 2*30px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .client__item {
    width: calc((100%  - 5*30px) / 6);
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .client__item:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .client__item:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .client__item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .client__item:nth-child(3n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .client__item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.client__link {
  width: 100%;
  height: 100%;
  background-color: var(--primary-background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link:hover, .client__link:focus {
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}

.client__icon {
  width: 106px;
  height: 60px;
  fill: #AFB1B8;
}

.client__link:hover .client__icon,
.client__link:focus .client__icon {
  fill: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .main-projects {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .main-projects {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .main-projects {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (max-width: 767px) {
  .main-projects__nav {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .main-projects__nav {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .main-projects__nav {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
}

.main-projects__btn--active,
.main-projects__btn {
  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px;
  color: var(--title-text-color);
  background-color: var(--second-background-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .main-projects__item + .main-projects__item {
    margin-left: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .main-projects__item + .main-projects__item {
    margin-left: 8px;
  }
}

@media screen and (max-width: 767px) {
  .main-projects__item {
    margin-right: 8px;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 767px) {
  .main-projects__item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

.main-projects__btn--active,
.main-projects__btn:hover,
.main-projects__btn:focus {
  background-color: var(--accent-color);
  color: var(--primary-background-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main-projects__card {
  font-size: 16px;
  line-height: 1.87;
}

@media screen and (max-width: 767px) {
  .main-projects__card {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .main-projects__card {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .main-projects__card {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .main-projects__card-item {
    width: calc(100%-30px);
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .main-projects__card-item {
    width: calc(100%/2-30px);
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .main-projects__card-item {
    width: calc(100%/3-30px);
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .main-projects__card-item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .main-projects__card-item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .main-projects__card-item:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .main-projects__card-item:nth-child(3n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .main-projects__card-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.main-projects__card-link {
  display: inline-block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-projects__card-link:hover, .main-projects__card-link:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main-projects__card-link:focus .main-projects__picture-text,
.main-projects__card-link:hover .main-projects__picture-text {
  transform: translateY(0);
}

.main-projects__text {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  flex-grow: 1;
}

.main-projects__title {
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-family: inherit;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

@media screen and (max-width: 767px) {
  .main-projects__trabsfer {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .main-projects__trabsfer {
    display: none;
  }
}

.main-projects__pre-title {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
}

.main-projects__item-wrap {
  position: relative;
  overflow: hidden;
}

.main-projects__picture-text {
  position: absolute;
  top: 0;
  left: 0;
  font-family: Roboto;
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-background-color);
  background-color: rgba(33, 150, 243, 0.9);
  height: 100%;
  padding: 63px 24px;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

footer {
  padding: 60px 0;
  background-color: var(--footer-backgroud-color);
}

@media screen and (max-width: 767px) {
  .info-contacs {
    margin-bottom: 60px;
  }
}

.info-contacs .lower {
  display: block;
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .info-contacs .lower {
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .info-contacs .lower {
    text-align: center;
  }
}

address {
  font-style: normal;
}

@media screen and (min-width: 768px) {
  .info {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .info {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .info-contacs {
    margin-left: 61px;
  }
}

.contacts {
  font-family: inherit;
  font-size: 14px;
  line-height: 1.71;
}

@media screen and (max-width: 767px) {
  .contacts {
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts {
    text-align: center;
    margin-bottom: 60px;
  }
}

.contacts-item {
  color: var(--primary-background-color);
}

@media screen and (max-width: 767px) {
  .contacts-item {
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 768px) {
  .contacts-item {
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-item {
    margin-bottom: 9px;
  }
}

.contacts .link {
  display: block;
  color: var(--primary-background-color) 60%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts .link:hover, .contacts .link:focus {
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .contact-tel {
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 768px) {
  .contact-tel {
    margin-bottom: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-tel {
    margin-bottom: 9px;
  }
}

@media screen and (max-width: 767px) {
  .join {
    display: block;
    text-align: center;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .join {
    display: block;
    text-align: center;
    margin-left: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .join {
    display: block;
    justify-content: center;
    align-items: center;
    margin-left: 70px;
  }
}

.join-title {
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-background-color);
  margin-bottom: 20px;
}

.join-social {
  display: flex;
}

@media screen and (max-width: 767px) {
  .join-social {
    justify-content: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .join-social {
    justify-content: center;
  }
}

.join-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.join-item:last-child {
  margin-right: 0;
}

.join-icon {
  width: 20px;
  height: 20px;
  fill: var(--primary-background-color);
}

.join-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-link:hover, .join-link:focus {
  background-color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .subscription-form {
    display: block;
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscription-form {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .subscription-form {
    display: block;
    margin-right: 0;
    margin-left: auto;
  }
}

.subscription-form-head {
  font-family: inherit;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-background-color);
  margin-bottom: 20px;
}

.subscription-form-input {
  height: 50px;
  padding: 15px 16px;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--footer-backgroud-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 4px;
}

@media screen and (max-width: 767px) {
  .subscription-form-input {
    width: calc(100% - 30px);
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscription-form-input {
    width: 450px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .subscription-form-input {
    width: 358px;
    margin-right: 12px;
  }
}

.subscription-form-input:hover {
  border: 1px solid var(--accent-color);
}

.subscription-form-button {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-background-color);
  background-color: var(--accent-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscription-form-button {
    margin-left: auto;
    margin-right: auto;
  }
}

.send-icon {
  width: 24px;
  height: 24px;
  fill: var(--primary-background-color);
  vertical-align: middle;
}
/*# sourceMappingURL=main.css.map */